{{define "title"}}about{{end}}
{{define "extra-head"}}{{end}}
{{define "body"}}
<h1>About EthanThacker.com</h1>
<img src="https://storage.googleapis.com/ethangosite.appspot.com/static/img/ethan.png" alt="Cannot Display Image">
<h2>This page built using</h2>
<ul class="stack-list" title="stack-list">
    <li class="stack-list-item">Go  <img class="stack-list-image pure-img" src="https://storage.googleapis.com/ethangosite.appspot.com/static/img/gopher.png"></li>
    <li class="stack-list-item">Google App Engine  <img class="stack-list-image pure-img" src="https://storage.googleapis.com/ethangosite.appspot.com/static/img/google-app-engine.png"></li>
    <li class="stack-list-item">Google Datastore <img class="stack-list-image pure-img" src="https://storage.googleapis.com/ethangosite.appspot.com/static/img/datastore.png"></li>
</ul>
{{end}}