{{define "title"}}crimewatch{{end}}
{{define "extra-head"}}
<script type="application/javascript" src="/static/js/dpd.js"></script>
<script>
    $(document).ready(function(){
        Ethan.dpd.initPage();
    });
</script>
{{end}}
{{define "body"}}
<div class="dpd-info-container">
    <table class="pure-table crimes-table" id="crimes-table">
        <h3 class="crimes-header">Current Active Calls for Dallas PD</h3>
        <h6>Info sourced from <a href="www.dallasopendata.com">dallasopendata.com</a></h6>
        <thead class="crimes-table-header">
            <tr>
                <th>Location</th>
                <th>Nature</th>
                <th class="priorityRow">Priority</th>
                <th>Time</th>
                <th class="divisionRow">Division</th>
                <th>Status</th>
                <th class="unitRow">Unit Number</th>
            </tr>
        </thead>
        <tbody class="crimes-table-body" id="crimes-table-body">
        </tbody>
    </table>
</div>
{{end}}