html,body{
    margin:0;
    padding:0;
    display:block;
    font-family: 'Lato', sans-serif;
    background-color: rgb(255, 254, 254);
}
.milk-production-img{
    width:1%;
    display:inline-block;
}
.milk-production-tag {
    width:5%;
    display:inline-block;
}
.milk-production-span{
    text-align: center;
}

.main-content {
    padding: 1.5em 5em;
    text-align: center;
}
.img-rounder {
    border-radius: 1em;
}
.nav-header {
    width:100%;
    background-color: #7BAFD4;
    height:3em;
    line-height: 3em;
}
.navigation-list {
    padding:0;
    height:100%;
    list-style: none;
}
@media only screen and (max-width: 768px){
    #welcome-back-banner {
        margin-top: 1em;
        text-align: center;
    }
    .priorityRow{
        display:none;
    }
    .divisionRow {
        display:none;
    }
    .unitRow{
        display:none;
    }
    .social-media-list-item {
        display:none;
    }
    body{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .nav-menu-responsive-icon {
        margin-left:1.5em;
        cursor: pointer;
        width:20%;
    }

    .main-content {
        text-align: center;
    }
    .navigation-list {
        margin-left: 1em;
        margin-top: 0;
        width:28%
    }
    .navigation-list-item {
        text-align: center;
        background-color: #333333;
        opacity: 0.8;
        height: 4em;
    }

    .navigation-link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: sans-serif;
        width:100%;
        height:100%;
        font-size:15px;
        display:block;
    }
    .contact-input,.contact-textarea {
        width: 100%;
        margin-bottom: 1em !important;
    }
    .contact-image {
        display: none;
    }
    .stack-list {
        text-align: center;
        margin-left: 0;
        list-style: none;
        padding: 0;
    }
    .stack-list-image {
        margin-top: 0.5em;
        margin-bottom:1.5em;
        width:100%;
    }
    .stack-list-item {
        width:30%;
        margin-left:35%;
    }
}

@media only screen and (min-width: 769px){
    .navigation-list {
        margin:0;
        width:100%;
    }
    .navigation-list-item {
        width:10%;
        text-align:center;
        height:inherit;
        float:left;
    }

    .navigation-list-item:hover,.navigation-list-item:focus,.navigation-list-item:active{
        background-color:steelblue;
    }

    .navigation-link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: sans-serif;
        width:100%;
        height:100%;
        font-size:15px;
        display:block;
    }
    .sm-navigation-link {
        width:28%;
        display:block;
        height:2em;
    }

    .navigation-list {

    }

    .social-media-icon-list {
        margin:0;
        padding:0;
        height:100%;
        width:40%;
    }

    .social-media-list-item {
        width:8%;
        height:100%;
        line-height:3em;
        float:right;
        margin-top:0.5em;
    }
    .sm-image {
        height:28px;
        line-height: 3em;
    }

    .contact-form-div {
        width:35%;
        display:inline-block;
    }

    .contact-input {
        width:100%;
        margin-bottom:1em;
        font-size:large;
    }
    .contact-textarea {
        width: 100%;
    }

    .contact-submit-button {
        margin-top: 1em;
    }

    .fa {
        margin-right:1em;
    }
    .contact-page-content {
        display:inline-block;
        width: 90%;
    }

    .contact-image {
        float:right;
        margin-top:1.65em;
    }

    .projects-image {
    }

    #welcome-back-banner {
        margin-top: 1em;
        text-align: center;
    }

    .stack-list {
        display:inline-block;
        width:100%;
    }

    .stack-list-item {
        width: 24%;
        display:inline-block;
    }

    .stack-list-image {
        width: 25%;
        display:inline-block !important;
    }

    .crimes-table {
        height: 40em;
        overflow: scroll;
        width:90%;
        margin-left:5%;
    }
    .crimes-table-header {
        width:100%;
    }
    .crimes-table-body {
        width:100%;
    }
    #googleMap{
        width:auto;
        height:40em;
        margin-top:1em;
    }
    .progress-meter{
        width:30%;
        background-color:darkslategrey;
        border-radius: 1em;
        height:2.25em;
        margin-left: 35%;
        margin-top:2.5em;
        margin-bottom:5px;
        display:none;
    }
    .progress-filler{
        background-color:Orange;
        display: block;
        line-height: inherit; !important;
        border-radius: 1em;
        height:2.25em;
        width:6%;
    }
    .geocode-button {
        margin-top:2.5em;
        height:2.25em; !important;
    }
}