html,body{
    margin:0;
    padding:0;
    display:block;
    font-family: 'Lato', sans-serif;
    background-color:#F0F0F0;
}

.main-content {
    padding:2em;
}

.nav-header {
    width:100%;
    background-color: #7BAFD4;
    height:3em;
    line-height: 3em;
}

@media only screen and (min-width: 768px){

    .navigation-list-item {
        width:10%;
        text-align:center;
        height:inherit;
        float:left;
    }

    .navigation-list-item:hover,:focus{
        background-color:steelblue;
    }

    .navigation-link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: sans-serif;
        width:100%;
        height:100%;
        font-size:15px;
        display:block;
    }
    .sm-navigation-link {
        width:28%;
        display:block;
        height:2em;
    }

    .navigation-list {
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        list-style: none;
    }

    .social-media-icon-list {
        margin:0;
        padding:0;
        height:100%;
        width:40%;
    }

    .social-media-list-item {
        width:8%;
        height:100%;
        line-height:3em;
        float:right;
        margin-top:0.5em;
    }
    .sm-image {
        height:28px;
        line-height: 3em;
    }
}